{% extends "home/base.html" %}
{% block title %}About Us{% endblock %}
{% block style %}

  body{
    background-color: #dde5e7;
    
    
  }
  div{
    border: 2px solid black;
  }

{% endblock %}
{% block body %} 
 <body>
   <div>
   Hello Kitty is different between Java and Java script are different language in computer programming Java was created by James Gosling he works in the morning to you and your mom and dad are you doing now baby girl is a good boy for a while to get the chance of a sudden you are not going anywhere today and I am also a web developer and else if statement import views as e as v 
   </div>
 </body>
{% endblock %}