{% extends "home/base.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}

<form action="/Login/" method="post">
{% csrf_token %}
<div class="container">
<h3 class="text-center my-4">SignIn Here</h3>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required >
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

{% endblock %}
