{% extends 'home/base.html' %}


{% block title %} Sign up Here{% endblock %}

{% block body %}
<h3 class="text-center my-4">Signup Here</h3>
<div class="container my-4">

<form action="/signup/" method="post">
{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username </label>
    <input type="name" name="username"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >

  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" required >
  </div>

  <button type="submit" class="btn btn-primary">Sign up </button>
</form>
</div>

{% endblock %}